<article class="d-flex flex-column align-items-center text-center"  [ngClass]="getClass()">
    <h2 [ngStyle]="{color: getColor()}">Nom: {{oneFriendName}}</h2>
    <pre>
ID: {{oneFriendId}}
Age: {{oneFriendAge}} ans
Bio: {{oneFriendBio}}
Statut: {{oneFriendStatus}}
Rappel statut: {{getOneFriendStatus()}}
    </pre>
    <p class="card-text">Réputation :  {{oneFriendStatus=='Online' ? 'Ringard' : 'Cool'}}</p>
    <p>Statut : <span [style.color]="oneFriendStatus=='Online' ? 'green' : 'red'" [style]>●</span></p>
    <img [src]="oneFriendImg" alt="image mario">
    <p>test injection XSS : {{oneFriendXss}}</p>
</article>